.cart-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.price h3 {
  margin-top: 100px;
}

.image {
  height: 200px;
  width: 200px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.price {
  margin-top: 100px;
}

.cart-product {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.image:hover {
  cursor: pointer;
  transform: scale(1.1);
  cursor: pointer;
}
