.filterbtn {
  border-color: black;
}

.cart-btn {
  border-color: black;
}

.cart-btn:hover {
  background-color: whitesmoke;
}

.product-image {
  transition: 0.2s ease-in-out;
}

.product-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.input-field {
  border: 1px solid #0d6efd;
  width: 50%;
}

.text {
  text-align: center;
}

.link {
  color: unset;
  text-decoration: unset;
}
