.dod {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.dodSlider {
  width: 100%;
  overflow-x: scroll;
}
.dodProduct {
  margin: 20px;
  text-align: left;
  cursor: pointer;
}

.dodSlogans {
  margin: 4px 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.dodDiscounts {
  color: limegreen;
  font-weight: 300;
}

.dodCategory {
  font-weight: 400;
}

.dodSlider::-webkit-scrollbar {
  display: none;
}

.dodImage {
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.dodImage:hover {
  transform: scale(1.1);
  cursor: pointer;
}
