.header-content {
  margin-top: 12vh;
}

.img {
  width: 12vh;
  height: 5vw;
  transition: 0.3s ease-in-out;
}

.img:hover {
  transform: scale(1.3);
}

.up-arrow {
  margin-left: 5px;
  position: absolute;
  transform: rotate(180deg);
  transition: all 0.3s ease;
  cursor: pointer;
}

.up-arrow:hover {
  transform: rotate(0deg);
}
.category {
  transition: all 0.5s ease;
  cursor: pointer;
}
.category:hover {
  color: #0d6efd;
}

.ul-list {
  list-style-type: none;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  width: 20vw;
  color: black;
}

.show-Details {
  position: relative;
}

.ul-list > li {
  padding-bottom: 0.5rem;
}

.ul-list > li:hover {
  padding-right: 0.7rem;
  color: blue;
}
