.search-bar {
  width: 35vw;
  border: 0;
}

.dropdown-menu {
  left: -90px;
}

.search-icon {
  background-color: #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0d6efd;
}

.column {
  column-gap: 10px;
  left: -40px;
}

.cart-item {
  background-color: white;
  color: #0d6efd;
  position: absolute;
  font-weight: 400;
  font-size: 1.1rem;
  bottom: 5px;
  right: 42px;
}

.cartItems {
  cursor: pointer;
}

.link {
  color: unset;
  text-decoration: unset;
}
