.footer {
  text-align: left;
  background-color: #172337;
}

h4 {
  text-align: center;
  color: #565656;
}

li {
  list-style-type: none;
}
.bottomBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.bottomItems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomItems > p {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}
