.product {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}
.productContainer {
  overflow-x: auto;
  display: flex;
}
.productImage {
  width: 390px;
  height: 428px;
  object-fit: contain;
  margin-top: 50px;
}
button {
  cursor: pointer;
  border-radius: 5px;
}
li {
  list-style: none;
}
span {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.btnCart {
  width: 180px;
  height: 55px;
  background-color: #ff9f00;
  color: #fff;
  margin: 10px;
}
.btnBuy {
  width: 180px;
  height: 55px;
  background-color: #fb641b;
  color: #fff;
}
.productDetails {
  margin: 20px;
}
.heading {
  color: #878787;
}
.productName {
  /* margin-top: 15px; */
  display: inline-block;
  color: #212121;
  font-size: 18px;
}
.price {
  color: #212121;
  font-size: 28px;
  font-weight: 500;
}
.coupons span,
.offers span {
  line-height: 1.3em;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
}
.tags {
  height: 15px;
  width: 15px;
  margin-top: 10px;
  margin-right: 5px;
  color: #26a541 !important;
}
.ticket {
  height: 15px;
  width: 15px;
  margin-top: 10px;
  margin-right: 5px;
  color: #26a541 !important;
}
